* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  height: 325px;
  background-color: #163041;
  text-align: center;
  color: #fcfafa;
  padding-top: 40px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.header__name {
  font-size: 35px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

.header__title {
  font-size: 18px;
  line-height: 25px;
  color: #fcfafa;
  font-weight: 500;
}

.content {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
}

.article {
  height: 500px;
  background-color: #fafbfc;
  margin-bottom: 35px;
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 25px;
}

.article__title {
  font-size: 30px;
  line-height: 35px;
  color: #445161;
  margin-left: -85px;
}

.article__text {
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 15px;
  line-height: 25px;
  color: black;
  text-align: justify;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.footer {
  height: 250px;
  background-color: #163041;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 140px;
  box-sizing: border-box;
}

.copyright {
  font-size: 12px;
  text-align: center;
}

.footer__title {
  font-size: 30px;
  line-height: 35px;
  color: #fdfdfd;
  margin-left: -85px;
}

.footer__text {
  font-size: 15px;
  line-height: 35px;
  color: #fdfdfd;
}

.abbr__text {
  font-size: 15px;
  line-height: 35px;
  color: #231574;
}

.lr_text {
  font-size: 15px;
  line-height: 35px;
  color: #231574;
}
