.first_block {
  height: 250px;
  width: 500px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.range {
  background-color: lightgray;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  margin: 50px 25px 50px 25px;
  display: inline-block;
}
.second_block {
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: 175px;
  width: 250px;
  margin: 25px 25px 15px 25px;
}
.first_line {
  height: 25px;
  width: 50%;
  background: linear-gradient(to right, #dddddd, #777777);
  margin: 15px 0px 15px 65px;
}
.line {
  height: 25px;
  width: 200px;
  background: linear-gradient(to right, #dddddd, #777777);
  margin: 10px 5px 10px 30px;
}
